<h1>Contacts</h1>

<ul>
  <% if @contacts %>
    <% @contacts.each do |contact| %>
      <li>
        <%= contact.name %> - <%= contact.phone_number %>
      </li>
    <% end %>
  <% end %>
</ul>

<form action="/" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name">

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name">

  <input type="Submit" value="Search">
</form>
