<h1>Submit a New Contact</h1>

<form action="/new" method="post">
  <label for="first_name">First Name:</label>
  <input type="text" id="first_name" name="first_name">

  <label for="last_name">Last Name:</label>
  <input type="text" id="last_name" name="last_name">

  <label for="phone_number">Phone Number:</label>
  <input type="text" id="phone_number" name="phone_number">

  <input type="Submit">
</form>
